/* =======================
    CONTENT TYPES AND NODES
===================== */
@use '../../00-base/' as *;
@use '../../03-composites/paragraphs/paragraphs' as *;

/* CURATOR FEED
--------------- */
.crt-widget{
	.crt-post-date{
		opacity: 1;
		a{
			color: #676767;
		}
	}
	button.crt-load-more{
		@include button;
	}
	.crt-post-text a {
		color: $lightRed !important;
	}
}

/* GLOBAL
----------- */
.path-node{
	#block-oaca-subtheme-content > article{
		padding-top: $spaceMd;
		&#node-5056 {
			padding-top: 0 !important;
			margin-top: -40px;
		}
	}
}

/* LANDING PAGE
------------- */
.page-node-type-landing-page{
	.layout__region > *.block-field-blocknodelanding-pagefield-header-slider{
		margin-top: -$spaceXxs;
		@include tab{
			margin-bottom: $spaceXl;
		}
	}
	.layout__region > *.block-field-blocknodelanding-pagetitle{

		&:last-child{
			margin-bottom: $spaceMd;
		}
		.field--name-title{
		}
	}
	.field--name-body{
		padding-bottom: $spaceSm;
		@include edgeReset;
	}
	.layout__region--content:not(:only-child){
		.field--name-title,.field--name-body{
		}
	}

	.layout--twocol-sideright .layout__region--second {
		@include desk {
			margin-top: -2em;
		}
	}
}//end node type landing page


/* HOME PAGE
----------------- */
.path-frontpage{
	#block-oaca-subtheme-content > article{
		// padding-top: $elementSpace;
	}
	.layout__region:not(.ui-sortable){
		.block-field-blocknodelanding-pagetitle{
			display: none;
		}
	}
	.paragraph--type--folwell-overlay-slideshow{
		.field--name-field-fw-callout-image{
			@include onlyMobile{
				margin: -2rem -2rem 2rem;
			}
			@include desk{
				margin-top: -elementSpace;
			}
		}
	}

	//slideshow
	.paragraph--type--folwell-slideshow {
		.layout--folwell-slider {
			flex-flow:wrap;

			.layout__region--left {
				flex:1 0 100%;
			}
			.layout__region--right {
				flex:1 0 100%;
				background: $darkRed;
				color: $white;
				text-align: center;
				padding:2em;

				h2 {
					color: $gold;
					text-transform: uppercase;
				}
			}
		}
	}

	//special override for section
	.paragraph-id-4106.paragraph--type--section {
		.field--name-field-section-items {

			padding-left:20px;
			padding-right:20px;

		 	> .field__item {
		 			padding:0;//reset padding

		 		.paragraph {
		 			background:$offWhite;
		 		}

		 		.paragraph--type--fa-text-with-optional-header {
		 			padding:20px;
		 		}

		 		@include desk {
		 			&:nth-child(1) {
		 				width:66%;
		 				margin-right: 10px;
		 			}
		 			&:nth-child(2) {
		 				width:33%;
		 			}
		 		}
		 	}

		 	//if grid supported, use that instead
		 	@supports (display:grid) {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
				gap:32px;

				@include desk {
					grid-template-columns:2fr 1fr;
				}

				.field__item:nth-child(1), .field__item:nth-child(2)  {
					width:100%;
					margin-right: 0;
				}
			}

		}
	}

	//newsletter section
	.two-even.grey{
		.paragraph--type--fa-text-with-optional-header{
			max-width: 764px;
			margin-left: 0;
			@include desk{
				max-width: 510px;
			}
		}
		#mc_embed_signup{
			@include desk{
				padding-left: 20px;
			}
		}
	}

	//do not center section titles here
	.paragraph--type--section .field--name-title {
		text-align:left;
	}

	//videos under leadership voices
	.paragraph--type--video {
		@include cardStyle($white);
	}

}//end home page

/* BASIC PAGES
----------------- */
.page-node-type-page{
	// prevent two column side left from breaking before Folwell Nav appears
	.layout--twocol-sideleft{
		.layout__region--first{
			@include tab{
				width: 100%;
			}
			@include deskMenu{
				width: $sideBar;
			}
		}
		.layout__region--content{
			@include tab{
				&:not(:only-child){
					width: 100%;
					&:not(.ui-sortable){
						padding-left: 0;
					}
				}
			}
			@include deskMenu{
				&:not(:only-child){
					@include calc(width, "100% - "$sideBar);
					&:not(.ui-sortable){
						padding-left: $sectionGutter;
					}
				}
			}
		}//end layou region content
	}//end two column sidebar left
}//end basic pages


/* STAFF
------------------ */
.page-node-type-staff{
	.layout__region--first{
		@include onlySmall{
			padding-bottom: $spaceSm;
		}
		.block-field-blocknodestafftitle{
			margin-bottom: 0;
		}
	}
	.layout__region--sidebar{
		@include onlySmall{
			text-align: center;
		}
		& > *:not(:last-child){
			margin-bottom: $spaceXs;
		}
	}
	.layout__region--content{
		.block-layout-builder{
			margin-bottom: $elementSpace;
			&.block-field-blocknodestafftitle{
				margin-bottom: 0;
			}
		}
	}
	.field--name-field-banner{
		max-width:220px;

		article{
				margin-bottom: 0;
			}
		@include onlySmall {
			@include auto;
		}
		@include tab{
			img{
				width: 100%;
			}
		}
	}
	.field--name-title{
		margin-bottom: $spaceXs;
		@include tab{
			padding-left: 0;
			text-align: left;
		}
	}
	.field--name-field-position{
		padding-right: 20px;
		@include onlySmall{
			padding-left: 20px;
			text-align: center;
		}
		h2{
			@include heading4;
		}
	}
	.field--name-field-cv{
		article{
			margin-bottom: 0;
		}
	}
	.field--name-field-address{
		.address{
			margin-bottom: 0;
		}
		.country{
			display: none;
		}
	}
	.platform-links{
		@include onlySmall{
			justify-content: center;
			-ms-flex-pack: center;
		}
		a{
			font-size: $socialIcons;
		}
	}
	.field--name-body{
		@include tab{
			padding-left: 0;
		}
	}
	.block-field-blocknodestafffield-education{
		padding-right: 20px;
		@include onlySmall{
			padding-left: 20px;
		}
	}
}//end staff node

/* NEWS
--------------- */
.page-node-type-news{

	//only for the second region of the layout builder
	#block-oaca-subtheme-content > article  > .layout--onecol:nth-child(2){
		.layout__region--content{
			@include onlySmall{
				@include safeFlex(column,nowrap,start,start);
				.block-field-blocknodenewstitle{
					@include safeFlexOrder(2);
					width: 100%;
				}
				.block-field-blocknodenewsfield-author {
					@include safeFlexOrder(3);
					width: 100%;
				}
				.block-field-blocknodenewscreated{
					@include safeFlexOrder(4);
					width: 100%;
				}
				.block-addtoany{
					@include safeFlexOrder(5);
				}
				.block-field-blocknodenewsfield-banner{
					@include safeFlexOrder(1);
					width: 100%;
				}
			}//end only small
			@include tab{
				@include clearFix;
				.block-field-blocknodenewsfield-banner{
					float: left;
					width: 365px;
					margin-right: 40px;
					margin-bottom: $spaceXs;
				}
				.block-field-blocknodenewstitle {

						&:not(:first-child){
							margin-left: 405px;
							padding:0;

						.field--name-title{
							padding:0;
							text-align: left;
						}
					}
				}

				// .block-field-blocknodenewsfield-author {
				// 	&:not(:nth-child(2)){
				// 		margin-left: 405px;
				// 	}
				// }

				// .block-field-blocknodenewscreated{
				// 	&:not(:nth-child(3)){
				// 		margin-left: 405px;
				// 	}
				// }

				// .block-addtoany{
				// 	&:not(:nth-child(4)){
				// 		margin-left: 405px;
				// 	}
				// }
			}//end tab
		}// end layout content
	}//end second onecol layout

	.block-field-blocknodenewsfield-banner{
		@include onlySmall{
			@include safeFlexOrder(5);
			width: 100%;
		}
		@include tab{
			float: left;
			max-width: 365px;
			margin-right: 40px;
		}

		img{
			display: block;
			width: 100%;
			max-width: 600px;
			@include auto;
		}
		figcaption{
			max-width: 600px;
			@include auto;
		}
	}
	.block-field-blocknodenewstitle{
		max-width: $textMax;
		@include auto;
		margin-bottom: 0;
		@include onlySmall{
			@include safeFlexOrder(1);
		}
	}

	.block-field-blocknodenewsfield-author {
		font-weight:$heavy;
		@include oacaIndents;
		&{
			max-width: $textMax;
			@include auto;
			margin-bottom: $spaceXs;
		}

		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(2);
		}

		.field--label-inline .field__label {
			padding:0;
		}
	}

	.block-field-blocknodenewscreated{
		max-width: $textMax;
		@include auto;
		@include oacaIndents;
		&{
			font-size: 14px;
			color: $mediumGrey;
			text-transform: uppercase;
			margin-bottom: $spaceXs;
		}

		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(3);
		}
	}

	.block-addtoany{
		max-width: $textMax;
		@include auto;
		padding-left:18px;
		padding-right:20px;
		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(4);
		}
	}
	.block-field-blocknodenewsbody{
		@include tab{
			clear: both;
		}
	}
	.block-field-blocknodenewsfield-components{
		max-width: $textMax;
		@include auto;
		@include tab{
			clear: both;
		}
	}
	.block-field-blocknodenewsfield-news-components-wide{
		.paragraph--type--news-by-category{
			.field--name-field-headline{
				padding-left: 0;
				padding-right: 0;
				h2{
					font-size: 36px;
					font-weight: $light;
				}
			}
		}
	}
	.block-field-blocknodenewsfield-tags{
		max-width: $textMax;
		@include auto;
		@include oacaIndents;
		.field__item{
			margin-right: .25em;
		}
	}


}//end news

/* EVENT
--------------- */
.page-node-type-events{


#block-oaca-subtheme-content > article  > .layout--onecol:nth-child(2){
		.layout__region--content{
			@include onlySmall{
				@include safeFlex(column,nowrap,start,start);
				.block-field-blocknodeeventstitle{
					@include safeFlexOrder(1);
					width: 100%;
				}
				.block-field-blocknodeeventsfield-smart-date{
					@include safeFlexOrder(2);
					width: 100%;
				}
				.block-field-blocknodeeventsfield-event-location{
					@include safeFlexOrder(3);
				}
				.block-field-blocknodeeventsfield-banner{
					@include safeFlexOrder(4);
					width: 100%;
				}
			}//end only small
			@include tab{
				@include clearFix;
				.block-field-blocknodeeventsfield-banner{
					float: left;
					width: 365px;
					margin-right: 40px;
					margin-bottom: $spaceXs;
				}
				.block-field-blocknodeeventstitle {
					&:not(:first-child){
						// margin-left: 405px;
						.field--name-title{
							text-align: left;
						}
					}
				}

				.block-field-blocknodeeventsfield-smart-date{
					&:not(:nth-child(2)){
						margin-left: 405px;
					}
				}

				.block-field-blocknodeeventsfield-event-location {
					&:not(:nth-child(3)){
						margin-left: 405px;
					}
				}
			}//end tab
		}// end layout content
	}//end second onecol layout

	.block-field-blocknodeeventsfield-banner{
		@include onlySmall{
			@include safeFlexOrder(5);
			width: 100%;
		}
		@include tab{
			float: left;
			max-width: 365px;
			margin-right: 40px;
		}

		img{
			display: block;
			width: 100%;
			max-width: 600px;
			@include auto;
		}
		figcaption{
			max-width: 600px;
			@include auto;
		}
	}
	.block-field-blocknodeeventstitle{
		max-width: $textMax;
		@include auto;
		margin-bottom: 0;
		@include onlySmall{
			@include safeFlexOrder(1);
		}
	}

	.block-field-blocknodeeventsfield-undisclosed{
		display: none;
	}

	.block-field-blocknodeeventsfield-smart-date{
		max-width: $textMax;
		@include auto;
		@include oacaIndents;
		&{
			@include inlineDate;
			display: none;
		}
		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(2);
		}
	}

	.block-field-blocknodeeventsfield-event-location {
		max-width: $textMax;
		@include auto;
		font-size: 16px;
		@include oacaIndents;
		&{
			margin-bottom: $spaceXs;			
		}

		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(3);
		}
	}

	.block-addtoany{
		max-width: $textMax;
		@include auto;
		font-size: 16px;
		// @include oacaIndents;
		padding-left: 16px;

		@include onlySmall{
			text-align: center;
			@include safeFlexOrder(3);
		}
	}

	.block-field-blocknodeeventsbody{
		@include tab{
			clear: both;
		}
	}
	.block-field-blocknodeeventsfield-components{
		max-width: $textMax;
		@include auto;
		@include tab{
			clear: both;
		}
	}

	.block-field-blocknodeeventsfield-link {
		@extend .paragraph--type--buttons;
		max-width: $textMax;
		@include auto;
		@include oacaIndents;
	}

}//end news

/* GRANT CONTENT TYPE
--------------------- */
.page-node-type-grants{
	.block[class*='block-field']:not(.block-field-blocknodegrantsbody){
		max-width: $textMax;
		@include auto;
		@include oacaIndents;

		.field--name-title {
			padding:0;
		}
	}

	.block-field-blocknodegrantsfield-accepting-applications{
		margin-top: -2rem;
		padding-left: 20px;
		padding-right: 20px;
		font-weight: $heavy;
		.closed{
			display: inline-block;
			padding: 20px;
			border: 1px solid $red;
		}
	}
	.block-field-blocknodegrantsfield-deadline{
	}
	.block-field-blocknodegrantsfield-first-name {

	}
	.block-field-blocknodegrantsfield-email {

	}

}//end grant content type

/* MINI MED SCHOOL CONTENT TYPE
----------------------- */
.page-node-type-mini-med {
	.block-field-blocknodemini-medfield-banner{
		@include tab{
			float: left;
			max-width: 365px;
			margin-right: 40px;
		}
		img{
			display: block;
			width: 100%;
			max-width: 600px;
			@include auto;
		}
	}
	.block-field-blocknodemini-medtitle{
		@include auto;
		margin-bottom: 0;
		width: 100%;
		@include tab {
			float: left;
			@include calc(max-width,"100% - 405px");
		}
		.field--name-title {
			padding: 0;
		}
	}
	.block-field-blocknodemini-medfield-dates {
		@include auto;
		margin-bottom: $spaceLg;
		font-weight: $heavy;
		width: 100%;
		text-align: center;
		@include tab {
			float: left;
			@include calc(max-width,"100% - 405px");
			text-align: left;
			margin-bottom: $spaceXs;
		}
	}
	.block-field-blocknodemini-medbody {
		@include auto;
		width: 100%;
		@include tab {
			float: left;
			@include calc(max-width,"100% - 405px");
		}
		.field--name-body {
			padding: 0;
			margin-bottom: $spaceSm;
		}
	}
	.block-field-blocknodemini-medfield-link {
		@include calc(max-width,"100% - 405px");
		a {
			@include button;
			white-space: nowrap;
		}
	}
	.block-field-blocknodemini-medfield-components {
		clear: both;
	}
	.block-views-blockmini-med-courses-recent-courses {
		clear: both;
	}
}

/* NEWS AND EVENTS PAGE
----------------------- */

#node-141 {
	.homepage-news .view-header {
		@include visuallyHidden;
	}
}


/* CLINICAL PLACEMENT TOOLKIT
--------------- */
.page-node-type-clinical-placement-toolkit {
	#block-oaca-subtheme-content{
		padding: 0;
	}
	.block-system-main-block{
		& > article {
			.layout--onecol {
				& + .layout--onecol {
					clear: left;
					background-color: $lighterGrey;
					padding: $spaceMd 0;
					position: relative;
					&:after {
						@include fullBack($lighterGrey);
					}
				}
			}
			.layout--onecol:last-child {
				background-color: $lighterGrey;
				padding: 6rem 0 1em;
				position: relative;
				&:after {
					@include fullBack($lighterGrey);
				}
			}
			.layout--twocol-section {
				position: relative;
				max-width: $textMax + 40px;
				@include auto;
				&:after {
					@include fullBack($lighterGrey);
				}
				& > div {
					background-color: $lightGold;
					padding: 20px;
					&:only-child {
						flex: 0 1 100%;
					}
				}
				.block-field-blocknodeclinical-placement-toolkitfield-hours-intro {
					margin-bottom: 0;
				}
			}
		}
	}
	.block-field-blocknodeclinical-placement-toolkitfield-banner {
		margin-bottom: 0;
		text-align: center;

		@include desk {
			margin-left: $spaceLg;
		}

		@include midMidTab {
			float: left;
			text-align: left;
		}
	}//end banner
	.block-field-blocknodeclinical-placement-toolkittitle {
		overflow: hidden;
		margin-bottom: 0;

		.field--name-title {
			margin-bottom: $spaceXs;
	    margin-left: auto;
			margin-right: auto;
			padding-left: 20px;
			padding-right: 20px;
			@include midMidTab {
				text-align: left;
			}
		}
	}//end title
	.block-field-blocknodeclinical-placement-toolkitbody {
		overflow: hidden;
		margin-bottom: 0;

		.field--name-body {
			margin: 0 auto 2rem;
			max-width: $textMax;
			padding-left: 20px;
			padding-right: 20px;

			@include midMidTab {
				text-align: left;
			}
		}
	}//end body
	.block-field-blocknodeclinical-placement-toolkitfield-card-descriptions {
	margin-bottom: 0;
	.field__label{
			display: none;
		}
	.paragraph--type--fa-text-with-optional-header {
		background-color: #fff;
		padding: 0.5em 20px;
		margin-bottom: 3rem;
		.field--name-field-fa-accordion-item-header {
			margin-bottom: 0;
		}
	}
}//end card descriptions
	.block-field-blocknodeclinical-placement-toolkitfield-additional-info {
		margin-bottom: 3rem;
		.field--name-field-additional-info {
			& > * {
				max-width: $textMax + 40px;
				padding-left: 20px;
				padding-right: 20px;
				@include auto;
				& > * {
					padding-left: 0;
					padding-right: 0;
				}
			}
			.paragraph--type--section {
				.field--name-field-section-items {
					& > div:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}//end additional information
	.block-field-blocknodeclinical-placement-toolkitnid {
		display: none;
		max-width: $textMax + 40px;
		padding-left: 20px;
		padding-right: 20px;
		@include auto;
		@include moreLink;
		a {
			font-weight: $heavy;
		}
	}
	.block-field-blocknodeclinical-placement-toolkitfield-friendly-hours {
		margin-bottom: 1rem;
	}
	.block-field-blocknodeclinical-placement-toolkitfield-contact-information {
		margin-bottom: 1rem;
	}
}//end clinical-placement-toolkit
