/* ======================
  NAVIGATION
======================= */
@use '../../00-base/' as *;

/* BREADCRUMBS
--------------- */
.breadcrumb{
	ol{
		padding: 0;
	}//end ol
}//end breadcrumb

/* MOBILE FOLWELL CUSTOM NAV
--------------------- */
.mm-menu{
	.mm-panels{
		box-shadow: 5px 0px 10px rgba(35,35,35,0.3);
	}
}
.mm-panel.mm-hasnavbar{
	.mm-navbar{
		background: $red;
	}
	#close-nav,a.mm-title,a.mm-btn{
		#off-canvas &{
			color: $white;
			&:before{
				border-color: $white !important;
			}
		}
	}
}

/* SUPERFISH DESKTOP NAV
-------------------- */
#superfish-main{
	&.sf-horizontal{
		li.sfHover > ul{
			min-width: 200px;
		}
		li.sf-depth-2{
			a{
				padding: .5rem 0 .5rem 1.2em;
			}
			&:first-child > a{
				padding-top: 1rem;
			}
			&:last-child > a{
				padding-bottom: 1rem;
			}
		}
		span.sf-depth-3 {
			font-size:0.888888889em;
			display: block;
			padding: .5rem 0 .5rem 1.2em;
		}
	}//end sf-horizontal
}//end superfish main

/* SECTION MENU
---------------- */
.folwell-vertical-nav{
	.menu-item--expanded{
		& > a{
			@include calc(width, "100% - 35px");
		}
		& > button{
			width: 35px;
		}
	}
}
