/* =====================
  TYPOGRAPHY
======================== */

/* HEADING MIXINS
------------------ */
//h1 sizes
$h1: 30px;
$h1Mid: 42px;

//h2 sizes
$h2    : 26px;
$h2Mid : 36px;

//h3 sizes
$h3: 26px;

//h4 sizes
$h4: 19px;

//h5 sizes
$h5: 17px;

//h6 sizes
$h6: 15px;

@mixin headerGlobals{
	line-height: 1.1;
	font-weight: $heavy;
	font-family: $baseFont;
	margin: 0;
	font-feature-settings: "liga", "dlig";
	letter-spacing:-1px;
	&:first-child{
		margin-top: 0;
	}
	a{
		&:after,&:link:after{
			content: none;
		}
	}
}

@mixin heading1{
	@include headerGlobals;
	font-family: $header;
	font-size: $h1;
	font-weight: $semi;
	@include tab{
		font-size: $h1Mid;
	}
}

@mixin heading2 {
	@include headerGlobals;
	font-weight:$regular;
	font-size: $h2;
	@include tab{
		font-size: $h2Mid;
	}
}

@mixin heading3{
	@include headerGlobals;
	font-size: $h3;
}

@mixin heading4{
	@include headerGlobals;
	font-size: $h4;
}

@mixin heading5{
	@include headerGlobals;
	font-size: $h5;
}

@mixin heading6{
	@include headerGlobals;
	font-size: $h6;
}

/* HEADING STYLING
------------------- */
h1 {
	@include heading1;
}

h2{
	@include heading2;
	.field--type-text-long &,.field--type-text-with-summary &{
		margin-bottom: $spaceSm;
	}
}

h3{
	@include heading3;
	.field--type-text-long &,.field--type-text-with-summary &{
		margin-bottom: $spaceSm;
	}
}

h4{
	@include heading4;
	.field--type-text-long &,.field--type-text-with-summary &{
		margin-bottom: $spaceXs;
	}
}

h5{
	@include heading5;
	.field--type-text-long &,.field--type-text-with-summary &{
		margin-bottom: $spaceXs;
	}
}

h6{
	@include heading6;
}

h2+ul, h3+ul, h4+ul, h5+ul, h6+ul {
	margin-top: 0;
}


/* TEXT STYLES
--------------- */
html,code{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: normal;
	font-synthesis: none;
	font-size: $em-base;
}

body {
	color: $baseText;
	margin: 0;
	font-size: $baseSize;
	line-height: 1.45;
	font-family: $baseFont;
}

p{
	margin-top: 0;
	&:not(:last-child){
		margin-bottom: $spaceMd;
	}
	& + article:not(:last-child){
		margin-bottom: $spaceMd;
	}
}

a[name]{
	color: $baseText !important;
	pointer-events: none;
	border-bottom: 0 !important;
	&:hover,&:focus{
		background: none !important;
	}
	&:after{
		content: none  !important;
	}
}

	ul{
		&.two-column{
			@include cssColumns(2,20px,nobreak);
			padding-left: 0;
		}
		&:first-child{
			margin-top: 0;
		}
	}
	ol{
		&.two-column{
			@include cssColumns(2,20px,nobreak);
			padding-left: 0;
		}
	}



//clear floats in common long text fields, remove bottom margin from last child
.field--type-text-with-summary,.field--type-text-long{
	@include clearFix;
	& > *:last-child{
		margin-bottom: 0;
	}
	& + *{
		clear: both;
	}
	ul:first-child{
		margin-top: 0;
	}
	aside.callout{
		margin-bottom: $spaceMd;
		&:first-child{
			margin-top: 0;
		}
	}
}//end text-with-summary,text-long

/*CUSTOM HEADINGS
--------------------*/
//block title, section title
h2.block-title, h2.section-title, .section-wrapper .field--name-title h2 {
	font-size:36px;
	font-weight:$light;
}

.icon-title {
	position: relative;
}
.icon-title:before {
    position: absolute;
    bottom: .5rem;
    left: 20px;
    content: "";
    font-family: 'Font Awesome 5 Brands';
    font-size: 52px;
    line-height: 1;
}
.icon-title:after {
	position: absolute;
    bottom: .5rem;
    left: 20px;
    content: "";
    font-family: 'Font Awesome 5 Brands';
    font-size: 52px;
    line-height: 1;
}

.icon-title.twitter-title {

	&:before {
		content: "\f081";
    color: #4eb1dc;

	}
}

.icon-title.facebook-title {
	&:after {
		content: "\f082";
	  color: #3A5899;	
	  left:80px;

	}
}

h2.icon-title {
	padding-left:140px;
}
