/* ==================
  COLORS
===================== */ 

/* COLORS
---------------- */
$white         : #fff;
$offWhite      : #f9f7f6;
$veryLight     : #eee;
$lightBg       : #ddd;
$lighterGrey   : #f0efee;
$lightGrey     : #d5d6d2;
$mediumGrey    : #777677;
$darkGrey      : #5a5a5a;
$darkerGrey    : #333;
$sfShadow      : #8a8a8a;
$green         : #58a616;
$darkGreen     : #336165;
$lightBlue     : #C9E9EB;
$blue          : #00f;
$midBlue       : #00759A;
$stormy        : #404d5b;
$black         : #000;
$lightGold     : #FFDE7A;
$gold          : #ffcc33;
$darkGold      : #D8941D;
$headerGold    : #ffd75f;
$lightRed      : #900021;
$red           : #7a0019;
$darkRed       : #4d0010;
$lightPink     : #faf7f6;
$adminPink     : #f8e8f1;
$hoverGrey     : transparentize($darkGrey, .85);
$transWhite    : rgba(255,255,255,0.7);

/* COMPONENT COLORS
-------------------- */
$unpub      : $adminPink;
$borderRule : $lightGrey;

$baseText     : $darkerGrey;
$hoverLink    : $darkGrey;
$hoverLinkBack: $hoverGrey;
$focusLinkBack: $gold;

$buttonBack         : $red;
$buttonText         : $gold;
$buttonBackHover    : $lightRed;
$buttonTextHover    : $white;
$buttonTextFocus    : $red;
$buttonBackActive   : $darkRed;
$buttonTextActive   : $gold;
$buttonBackAlt      : $gold;
$buttonTextAlt      : $lightRed;
$buttonBackAltHover : $lightGold;
$buttonTextAltHover : $lightRed;
$buttonTextAltFocus : $darkRed;
$buttonBackAltActive: $darkGold;
$buttonTextAltActive: $darkRed;

$placeColor         : $mediumGrey;
$placeFocusColor    : $placeColor;
$selectArrow        : $mediumGrey;
$selectHighlight    : $red;

