/* ===============
  FONTS
=================== */

/*  FAMILIES
-------------------- */
$baseFont : "Open Sans", Helvetica, Arial, sans-serif;
$header   : "Montserrat", Helvetica, Arial, sans-serif;

/*  FAMILIES
-------------------- */
$light  : 300;
$regular: 400;
$semi   : 600;
$heavy  : 700;

/*  SIZES
-------------------- */
$baseSize: 1.8rem;
$formLabelSize: 2rem;
$formLabelWeight: 400;
$button: 1.6rem;
$socialIcons: 3.2rem;