/* ======================
  BUTTONS
========================= */

///mixin - button
@mixin button{
	background-color: $buttonBack;
	border: 1px solid $buttonBack;
	color: $buttonText;
	line-height: 1.15;
	padding: 1em;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	text-align: center;
	font-weight: $semi;
	font-size: $button;
	margin-bottom: 0;
	@include transAll(.3s);
	&:hover {
		color: $buttonTextHover;
		background-color: $buttonBackHover;
		border-color: $buttonBackHover;
	}
	&:focus{
		color: $buttonTextFocus;
	}
	&:active{
		color: $buttonTextActive;
		background-color: $buttonBackActive;
		border-color: $buttonBackActive;
	}
	&.js-hide{
		display: none;
	}
}//end button mixin

@mixin buttonAlt{
	@include button;
	background: $buttonBackAlt;
	border-color: $buttonBackAlt;
	color: $buttonTextAlt;
	&:hover {
		color: $buttonTextAltHover;
		background-color: $buttonBackAltHover;
		border-color: $buttonBackAltHover;
	}
	&:focus{
		color: $buttonTextAltFocus;
	}
	&:active{
		color: $buttonTextAltActive;
		background-color: $buttonBackAltActive;
		border-color: $buttonBackAltActive;
	}
}

@mixin submitButton{
	padding: .65em 1em;
	font-size: $button;
	font-weight: $semi;
	background: $red;
	color: $white;
	border-radius: 0;
	letter-spacing: 0;
	height: auto;
	line-height: 1.25;
	&:hover{
		background-color: $lightRed !important;
	}
	&:focus{
		color: $gold;
	}
}

/* FOLWELL OVERRIDES
------------------ */
.btn{
	font-weight: $semi;
	font-size: $button;
}

.button {
	@include button;
}

.button-wrapper {
	display:inline-block;
	max-width:365px;
}

/* SUBMIT BUTTONS
------------------ */
input[type="submit"]{
	@include submitButton;
	font-weight: $semi;
	&#edit-reset{
		background: $darkGrey;
		&:hover{
			background-color: lighten($darkGrey, 5%) !important;
		}
	}
}
