/* =======================
  VIEWS
===================== */
@use '../../00-base/' as *;

.view-empty{
	max-width: $textMax;
	@include oacaIndents;
	&{
		margin: 0 auto $elementSpace;
	}
}

.view-more {
	@include moreLink;
}

/* STAFF
------------------ */
%staffRow{
	margin-bottom: $elementSpace;
	.views-field-nothing{
		font-size: 2rem;
		font-weight: $semi;
		margin-bottom: $spaceXs;
	}
	.views-field-field-position{
		font-size: 1.6rem;
		font-weight: $heavy;
	}
	.views-field-field-phone{
		font-size: 1.6rem;
		margin-bottom: $spaceXxs;
	}
	.views-field-field-email{
		font-size: 1.6rem;
		&:nth-child(3){
			margin-top: $spaceSm;
		}
	}
}

//All the different staff views
.staff {
	.staff-groups-view{
		max-width: $textMax;
		@include oacaIndents;
	}

	.group-content-wrapper {
		margin-bottom: $spaceLg;
	}

	.group-title{
		margin-bottom: $spaceSm;
		border-bottom:1px solid $lightGrey;
		padding-bottom:3px;
		width: 100%;
		@include onlyPhone{
			text-align: center;
		}
		h2 {
			margin-bottom: $spaceXxs;
		}
	}


	.group-content-row {

		@include safeFlex(row,wrap,start,start);
		@include bleed(padding,40px);

		//if grid is supported, use that instead
		@supports (display:grid) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
			justify-content: left;
			gap:32px;
		}
	}



	.views-row, .group-content {
		padding-bottom: $spaceMd;
		@include onlyPhone{
			text-align: center;
			padding-bottom:0;
		}
	}

	.views-field-field-banner{
		margin-bottom: $spaceSm;
		article{
			margin-bottom: 0;
		}
		img{
			display: block;
			@include onlyPhone{
				@include auto;
			}
		}
	}
}

//All Staff
.staff.all-staff {
	@extend %staffRow;
}

//leadership group
.staff.staff-leadership {
	@extend %staffRow;
}

//HR group
.hr-staff {

	.field--name-field-headline {
		margin-bottom: $spaceSm;
		border-bottom:1px solid $lightGrey;
		padding-bottom:3px;
	}

	.views-field-nothing h3 {
		margin-bottom: $spaceXs;
	}
	.views-field-field-position{
		font-size: 1.6rem;
		font-weight: $heavy;
	}
	.views-field-body{
		margin-top:$spaceSm;
		margin-bottom: $spaceSm;
	}

	.view-content{

		padding-bottom: $spaceMd;
		@include onlyPhone{
			padding-bottom:0;
		}

		&{
			@include safeFlex(row,wrap,start,start);
			@include bleed(padding,40px);
		}

		//if grid is supported, use that instead
		// @supports (display:grid) {
		// 	display: grid;
		// 	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		// 	justify-content: left;
		// 	gap:32px;
		// }

		& > div{
			width: 100%;
			padding: 10px 40px;
			@include tab{
				padding: 10px 20px;
			}
		}

		div div{
			display: block;
		}
	}

}

//Finance group
.staff.finance-staff {
	@extend .hr-staff;

	.view-content{
		@supports (display:grid) {
			grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		}
	}
}


/* NEWS
--------------------- */
.view.news {
	.view-footer {
		text-align: right;
	}
}

// homepage news
.homepage-news{
	.view-header{
		@include oacaIndents;
		@include desk {
			padding:0;
		}
	}

	.view-content{
		@include safeFlex(row,wrap,center,stretch);

		.views-row {
			@include cardStyle($offWhite);


			@include tab {
				width:48%;

				&:nth-child(2n+2) {
					margin-right: 0;
				}
			}

			@include desk {
				width: 32%;

				&:nth-child(2n+2) {
					margin-right:20px;
				}

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}

		}

		//if supported, use css grid
		@supports (display:grid) {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
			justify-content: center;
			gap:32px;

			.views-row {
				margin-right: 0;
				width:100%;
			}
		}
	}


	.views-field-field-banner{
		img{
			width: 100%;
			display: block;
		}
	}
	.views-field-title, .views-field-nothing {
		h3{
			font-size: 20px;
			margin-bottom: $spaceXxs;
		}
	}
	.views-field-body{
		margin-bottom: $spaceMd;
	}
	.views-field-view-node{
		a{
			@include submitButton;
			display: inline-block;
		}
	}
}//end home new


//recent news
.recent-news {

	.views-row {
		margin-bottom: $spaceSm;
		padding-left:1em;
		position: relative;

		&:after{
			content: '';
      height: .5em;
      width: .5em;
      background: $lightRed;
      display: block;
      position: absolute;
      transform: rotate(45deg);
      top: .5em;
      left: 0;
    }
	}

	h3{
		font-size: 20px;
		margin-bottom: $spaceXxs;
		font-weight: $regular;
	}

	.date {
		@include inlineDate;
		font-size: 15px;
		font-weight: $regular;
	}
}

//news by node
.recent-news-by-node {
	@extend .homepage-news;
}


//all news
.all-news{
	.categories-place{
		span{
			display: block;
			padding-left: 20px;
			font-size: 26px;
			font-weight: $heavy;
			margin-bottom: $spaceMd;
		}
	}

	.view-content {
		@include oacaIndents;
	}

	.date {
		@include inlineDate;
		font-weight:$regular;
	}

	.views-row{
		@include safeFlex(row,wrap,start,start);
		margin-bottom: $elementSpace;
		// max-width: $textMax;
	}
	.views-field-field-banner,.event-image{
		width: 100%;
		@include onlySmall{
			margin-bottom: $spaceXs;
		}
		@include tab{
			max-width: 280px;
			padding-right: 20px;
		}
		img{
			max-width: 360px;
			width: 100%;
			display: block;
		}
	}//end views field banner

	.views-field-nothing,.event-text{
		width: 100%;
		@include oacaIndents;
		@include tab{
			@include calc(width, "100% - 320px");
		}
		h2{
			font-size: 22px;
			margin-bottom: $spaceXxs;
		}
		.created{
			margin-bottom: $spaceSm;
			font-weight: $heavy;
		}
	}//end field-nothing

}//end all news

// news by category
.news-category {
	@extend .homepage-news;
}

//Jakub news
.jakub-news {
	@extend .all-news;
	.views-field-nothing {
		@include tab {
			padding-top:20px;
		}
	}
}

/* EVENTS
--------------- */
.view.events {
	.view-footer {
		text-align: right;
	}
}

//homepage events
.homepage-events{
	padding: 0 20px 20px;
	background:$offWhite;
	.views-row{
		@include safeFlex(row,wrap,start,start);
		width: 100%;
		background:$white;
		margin-bottom: $spaceXs;
	}
	.views-field-field-smart-date-1 .field-content{
		@include boxDate;
	}
	.views-field-title{
		padding:2rem 0 0;
		@include calc(width, "100% - 85px");
		h3{
			font-size: 20px;
			margin-bottom: $spaceXxs;
			font-weight: $regular;
		}
	}
}

//recent events (next 6)
.events.next-6 {

	.views-row {
		@include safeFlex(row,wrap,start,start);
		width: 100%;
		background:$white;
		margin-bottom: $spaceXs;
	}
	.views-field-field-smart-date-1 .field-content{
		@include boxDate;
	}

	.views-field-title{
		padding:2rem 0 0;
		@include calc(width, "100% - 85px");
		h3{
			font-size: 20px;
			margin-bottom: $spaceXxs;
			font-weight: $regular;
		}
	}
}

// all Events
.all-events{
	.categories-place{
		span{
			display: block;
			padding-left: 20px;
			font-size: 26px;
			font-weight: $heavy;
			margin-bottom: $spaceMd;
		}
	}
	.view-content{
		@include oacaIndents;
	}
	.views-row{
		@include safeFlex(row,nowrap,start,start);
		margin-bottom: $spaceLg;
	}
	.views-field-field-smart-date-1 .field-content{
		@include boxDate;
		&{
			background: $lightGold;
			color: $red;
			border-bottom:none;
		}

		.month{
			color: $black;
		}
	}

	.views-field-nothing{
		@include calc(width, "100% - 85px");
		h2{
			font-size: 22px;
			margin-bottom: $spaceXxs;
		}
	}

}

//Events by Category
.events-category {
	@extend .all-events;

	.views-field-nothing h3 {
		font-size: 22px;
		margin-bottom: $spaceXxs;
		font-weight: $regular;
	}
}

